body {
  padding: 0;
  margin: 0;
}
$mainPageBackgroundColor: var(--mainPageBackgroundColor, #f1fafa);
$fileUploadBackgroundColor: var(--fileUploadBackgroundColor, #ffffff);
$font-color: var(--font-color, #060606);
body.dark {
  --mainPageBackgroundColor: #101010;
  --fileUploadBackgroundColor: #060606;
  --font-color: #ffffff;
}
